<div>	
	<style type="text/css">
		 a:link {text-decoration: none;}
		 a:visited {text-decoration: none;}
		 a:hover {text-decoration: none;}		 
	</style>
	<div class="fluid-row">				
		<div>
			<div>
				<ul>
					<li>
						<h4>
							<a href="#Forgot your password.">Forgot your password.</a>
						</h4>
					</li>
					<li>
						<h4>
							<a href="#Sign up for an account">Sign up for an account</a>
						</h4>
					</li>
					<li>
						<h4>
							<a href="#How do I make a Donation?">How do I make a Donation?</a>
						</h4>
					</li>
					<li>
						<h4><a href="#How do I create an account for a loved one?">How do I create an account for a loved one?</a>
						</h4>
					</li>
					<li>
						<h4><a href="#How do I choose the organization to receive the donation?">How do I chose the organization to receive the donation?</a>
						</h4>
					</li>
					<li>
						<h4><a href="#How do I find out more about In Lieu Of Flowers?">How do I find out more about In Lieu Of Flowers?</a>
						</h4>
					</li>
					<li>
						<h4><a href="#How do I contact In Lieu of Flowers?">How do I contact In Lieu of Flowers?</a>
						</h4>
					</li>	
					<li>
						<h4><a href="#How do I edit an honorees information?">How do I edit an honorees information?</a>
						</h4>
					</li>	
					<li>
						<h4><a href="#How do I delete an honorees account?">How do I delete an honorees account?</a>
						</h4>
					</li>		
					<li>
						<h4><a href="#How do I cancel my account?">How do I cancel my account?</a>
						</h4>
					</li>	
					<li>
						<h4><a href="#How do I upload a photo?">How do I upload a photo?</a>
						</h4>
					</li>	
					<li>
						<h4><a href="#How do I find a loved on to place a donation?">How do I find a loved one to place a donation?</a>
						</h4>
					</li>	
				</ul>
			</div>




















			<div id="mytext" style="margin-top:500px" style="text/css" style="color:black">
				<a name="Forgot your password."></a>
				<h4>Forgot your password.</h4>	
				<h5>			
					<ol>
						<li>Click on the <%= link_to "\"Sign In\"", new_user_session_path %> tab at the top of the page</li>
						<li>Enter your email in box and select "Send me reset password instructions"</li>
						<li>When you receive the email follow the instruction to reset your password</li>
					</ol>	
				</h5>
				<br>
				<a name="Sign up for an account"></a>
				<h4>Sign up for an account</h4>
				<h5>
					<ol>
						<li>To sign up for an account go to the home page and click on the <%= link_to "\"Get Started Here\"", new_user_registration_path %> or "Not Registered? Create Account"</li>
						<li>Click the sign up button at the bottom of the page</li>
						<li>Fill in all the requested information and select the "Sign up" button</li>
						<li>You will be redirected to the users dashboard where you can create a memory of a loved one or make a donation to a love ones account</li>
					</ol>
				</h5>				
				<br>
				<a name="How do I make a Donation?">			
					<h4>How do I make a Donation?</h4>
					<h5>
						<ol>
							<li>On your dashboard page click the "Make a donation" button</li>
							<li>At the bottom of the next page click "Make a Donation"</li>
							<li>To be continued ...</li>
						</ol>
					</h5>
				</a>
				<br>
				<a name="How do I create an account for a loved one?">
					<h4>How do I create an account for a loved one?</h4>
					<h5>
						<ol>
							<li>On your dashboard page click the "Add a love one" button</li>
							<li>Fill in the first and last name so your honored can be located</li>
							<li>!OPTIONAL! To make sure that a user is donating to the correct Honored person, fill in the additional information below the name boxes</li>
							<li>If you would like to show a picture of you loved one you can load on at the bottom of the page in the Avatar box</li>
							<li>Select the submit button at the bottom of the page to save your input</li>
						</ol>
					</h5>
				</a>
				<br>
				<a name="How do I choose the organization to receive the donation?">
					<h4>How do I choose the organization to receive the donation?</h4>
					<h5>
						<ol>
							<li>After you have created an account for a loved one you will be presented with a summary of the information you entered.  At the side of the summary you will have many choices. Click "Add organization to honored"</li>
							<li>If you do not see the organization in the list click "Create an organization" and on the following page fill in all information</li>
							<li>If you had to create an organization you will be contacted once the organization has been approved</li>
						</ol>
					</h5>
				</a>
				<br>
				<a name="How do I find out more about In Lieu Of Flowers?"></a>
					<h4>How do I find out more about In Lieu Of Flowers?</h4>
					<h5>
						<ol>
							<li>On the top of the web page there is an <%= link_to "\"About\"", about_path %> button, click on it and it will give you a quick summary of how the organization came to be.</li>
						</ol>
					</h5>
				<br>
				<a name="How do I contact In Lieu of Flowers?"></a>
					<h4>How do I contact In Lieu of Flowers?</h4>
					<h5>
						<ol>
							<li>Click the <%= link_to "\"Contact\"", contact_path %> link on the top of the page and fill out the information on the form.  If you would like to be contacted by phone please add your phone number in the message box and a brief summary, so we can have the right person contact you.</li>
						</ol>
					</h5>				
				<br>
				<a name="How do I edit an honorees information?">
					<h4>How do I edit an honorees information?</h4>
					<h5>
						<ol>
							<li>If you are the person who created their account you can edit their information.</li>
							<li>Go to your dashboard and click on their name.  You will be redirected to their summary page where you can add more organizations or edit the personal information.</li>
							<li>If you need to edit their personal information click on edit at the bottom of the page.</li>
							<li>In the following page you can change the needed information and resubmit.</li>
						</ol>
					</h5>
				</a>
				<br>
				<a name="How do I delete an honorees account?">
					<h4>How do I delete an honorees account?</h4>
					<h5>
						<ol>
							<li>If you are the person who created their account you can edit their information.</li>
							<li>Go to your dashboard and click on their name.  You will be redirected to their summary page.</li>
							<li>Here you can click "Delete" at the bottom of the page.  You will be asked to confirm the deletion before it is final.</li>
						</ol>
					</h5>
				</a>
				<br>				
				<a name="How do I cancel my account?"></a>
				<h4>How do I cancel my account?</h4>
				<h5>
					<ol>
						<li>First off, we are sorry to see you go.  If there is something we did, please send us an email through our <%= link_to "\"Contact\"", contact_path %> page so we can improve our service.</li>
						<li>On the top of the page click "Edit profile."</li>
						<li>On the bottom of the next page, you will find the button to cancel the account.</li>
						<li>You will be asked to confirm the deletion and once you click ok you will be removed from our system.</li>
					</ol>
				</h5>				
				<br>				
				<a name="How do I upload a photo?">
					<h4>How do I upload a photo?</h4>
					<h5>
						<ol>
							<li>On the honored page whether you add a new honored or edit an honored there is a link at the bottom of the page to browse for a picture.</li>
							<li>Click on "Browse" and navigate to the location of you picture.</li>
							<li>Select the picture and click open.</li>
							<li>Click "Submit" to complete the process</li>
						</ol>
					</h5>
				</a>
				<br>				
				<a name="How do I find a loved on to place a donation?"></a>
				<h4>How do I find a loved one to place a donation?</h4>
				<h5>
					<ol>
						<li>On you dashboard click "View a list of honored"</li>
						<li>Find and select the Honored person you are seeking</li>
						<li>Select "Make Donation"</li>
					</ol>
				</h5>				
			</div>
		</div>		
	</div>
</div>