<div class="row-fluid">
	<div class="span3">
		<ul class="unstyled">
			<li>
				<%= link_to "Dashboard", dashboard_path, 
					class: "btn btn-success btn-block" %>
			</li>
			<li>
				<%= link_to "Make Donation", honoreds_path,
					class: "btn btn-success btn-block" %>
			</li>
		</ul>
	</div>
	<div class="span8">
		<h3>Donations</h3>
		<% if @donation_reciept_array.blank? %>
			<p>
				There are not any donations in the system. Would you like to make one?
			</p>	
			<%= link_to "Make Donation", honoreds_path, class: "btn btn-success" %>		
		<% else %>
			<ul class="unstyled">
				<% @donation_reciept_array.each do |donation_reciept| %>
					<li>
						<b>Donation id:</b>
						<%= donation_reciept[:donation_id] %>
					</li>
					<li>
						<b>Honored's Name:</b>
						<%= donation_reciept[:honored_name] %>
					</li>
					<li>
						<b>Date:</b>
						<%= donation_reciept[:donation_date] %>
					</li>
					<li style="margin-bottom: 50px;">
						<%= link_to "See Detail",donation_path(donation_reciept[:donation_id]) %>
					</li>
				<% end %>
			</ul>	
		<% end %>
	</div>
</div>